@page
@model News.Api.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<header>

</header>

<div class="container article-list">
    @foreach (var article in Model.Articles)
    {
        <div class="article-item">
            <h5 class="article-title">
                <a href="/Article/@article.Id" class="article-link">@article.Title</a>
            </h5>
            <p class="article-content">@article.Content</p>
        </div>
    }
</div>