@page "{id:int}"
@using News.Domain.Enums
@model Update
@{
    ViewData["Title"] = "Update Article";
}

<div class="update-form">
    <h2 class="update-title">Update Article</h2>
    <form method="post" enctype="multipart/form-data"> <!-- Note the enctype attribute for file upload -->
        
        <!-- Title -->
        <div class="form-group">
            <label asp-for="Article.Title" class="form-label"></label>
            <input asp-for="Article.Title" class="form-control input" />
            <span asp-validation-for="Article.Title" class="text-danger"></span>
        </div>
        
        <!-- Content -->
        <div class="form-group">
            <label asp-for="Article.Content" class="form-label"></label>
            <textarea asp-for="Article.Content" class="form-control textarea"></textarea>
            <span asp-validation-for="Article.Content" class="text-danger"></span>
        </div>
        
        <!-- Category -->
        <div class="form-group">
            <label asp-for="Article.Category" class="form-label"></label>
            <select asp-for="Article.Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
                <option selected="selected" value="">Please select a category</option>
            </select>
            <span asp-validation-for="Article.Category" class="text-danger"></span>
        </div>

        <!-- Author Name -->
        <div class="form-group">
            <label asp-for="Article.AuthorName" class="form-label"></label>
            <input asp-for="Article.AuthorName" class="form-control input" />
            <span asp-validation-for="Article.AuthorName" class="text-danger"></span>
        </div>

        <!-- Image (Assuming you want to allow uploading a new image) -->
        <div class="form-group">
            <label for="imageUpload" class="form-label">Upload New Image</label>
            <input type="file" id="imageUpload" name="ImageFile" class="form-control" />
            <!-- No asp-for attribute for file input, handling is slightly different -->
        </div>

        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
