@page "{id:int}"
@using News.Domain.Enums
@model Update
@{
    ViewData["Title"] = "Update Article";
}

<div class="update-form">
    <h2 class="update-title">Update Article</h2>
    <form method="post" enctype="multipart/form-data"> 
        <input type="hidden" asp-for="ArticleId" />
        <!-- Title -->
        <div class="form-group">
            <label asp-for="Model.Title" class="form-label"></label>
            <input asp-for="Model.Title" class="form-control input" />
            <span asp-validation-for="Model.Title" class="text-danger"></span>
        </div>
        
        <!-- Content -->
        <div class="form-group">
            <label asp-for="Model.Content" class="form-label"></label>
            <textarea asp-for="Model.Content" class="form-control textarea"></textarea>
            <span asp-validation-for="Model.Content" class="text-danger"></span>
        </div>
        
        <!-- Category -->
        <div class="form-group">
            <label asp-for="Model.Category" class="form-label"></label>
            <select asp-for="Model.Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
                <option selected="selected" value="">Please select a category</option>
            </select>
            <span asp-validation-for="Model.Category" class="text-danger"></span>
        </div>

        <!-- Author Name -->
        <div class="form-group">
            <label class="form-label">Author Name</label>
            <input asp-for="Model.AuthorName" class="form-control input" />
            <span asp-validation-for="Model.AuthorName" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label class="form-label">Image</label>
            <img src="@Model.Model.ImageUrl" alt="" style="width:100%; height:auto; border-radius:5px;">
        </div>

        <div class="form-group">
            <label asp-for="Model.ImageFile" class="form-label">Upload New Image</label>
            <input asp-for="Model.ImageFile" type="file" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
