body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4bf;
}

.navbar {
  background-color: #00203F; /* Deep blue for contrast */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 15px;
}

.nav-content {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 0 15px;
  color: #ECECEA !important;
  transition: color 0.3s ease-in-out, transform 0.3s ease;
  transform-origin: left;
}

.nav-link:hover {
  color: #F2A365 !important; /* Light orange for hover */
  transform: scale(1.1);
}

.article-list {
  display: flex;
  flex-direction: column;
}

.article-item {
  background-color: #e1efca;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  transition: all 0.3s ease-in-out;
}

.article-image img {
  max-height: 200px; /* Adjust based on your preference */
  object-fit: cover; /* Ensures the image covers the area nicely */
  border-radius: 5px; /* Consistent with the article item's border-radius */
  margin-bottom: 15px; /* Space between image and title */
}


.article-title {
  margin-top: 0;
  color: #333; /* Dark color for the title for contrast */
}

.article-author {
  font-style: italic;
  color: #666; /* Lighter color for author's name */
  margin-bottom: 10px; /* Space between author and content */
}

.article-metadata {
  color: #777;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.article-author, .article-date {
  font-style: italic;
  color: #666; /* Lighter color for author's name */
  margin-bottom: 10px; /* Space between author and content */,
  
}

.article-meta.text-right {
  text-align: right;
}

.article-title .article-link {
  color: #0d3d56;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.article-title .article-link:hover, .article-title .article-link:focus {
  color: #f2a365;
  text-decoration: underline;
}

.article-content {
  color: #324851;
}

.article-item:hover {
  background-color: #ffffff;
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.article-item-manage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1efca;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  transition: all 0.3s ease-in-out;
}

.article-item-manage:hover {
  background-color: #ffffff;
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}

.update-icon, .delete-icon {
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

.update-icon:hover, .delete-icon:hover {
  transform: scale(1.3);
}

/* Icon colors */
.update-icon {
  color: #4CAF50; /* Green */
}

.delete-icon {
  color: #F44336; /* Red */
}

.form-group {
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
  color: #00203F; /* Deep blue for contrast */
}

.input, .textarea, .btn {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin-top: 0.375rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.textarea {
  height: auto;
  min-height: 120px;
}

.btn-primary {
  color: #fff;
  background-color: #F2A365; /* Light orange for primary actions */
  border-color: #F2A365;
}

.btn-primary:hover {
  background-color: #f2b985; /* Slightly lighter orange on hover */
  border-color: #f2b985;
}

/* Adjustments for Update Page specifically */
.update-form {
  background-color: #e1efca; /* Light pastel background for the form */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
}

.update-title {
  text-align: center;
  color: #0d3d56; /* Rich deep blue for titles */
}

.textarea {
  width: 100%;
  height: 350px;
}

.article-page-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.article-image img {
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-details {
  text-align: justify;
}

.article-title {
  margin-top: 0;
}

.article-meta {
  color: #555;
  margin-bottom: 20px;
}

.article-content {
  line-height: 1.6;
}


.add-icon {
  display: inline-block;
  color: #4CAF50; /* A green color for the add action */
  font-size: 1.5rem;
  text-decoration: none;
  margin: 20px 0;
}

.add-icon i {
  margin-right: 8px; /* Space between the icon and text */
}

.add-icon:hover {
  color: #45c265; /* A slightly lighter green for hover effect */
  text-decoration: underline;
}

.category-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Space between this filter line and the articles */
  border-bottom: 1px solid #ccc; /* Continuous line under the buttons */
  padding-bottom: 10px; /* Space between the buttons and the line */
}

.btn {
  flex-grow: 1; /* Each button grows to fill the form */
  margin: 0 5px; /* Spacing between buttons */
  text-align: center; /* Ensure text is centered */
}

/* Specific styles for each button */
.filter-all, .filter-buy, .filter-sell {
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none; /* Remove default border */
  color: #fff; /* Text color */
}

.filter-all {
  background-color: #e1efca;
  color: black;
}

.filter-buy {
  background-color: #28a745; /* Buy button */
}

.filter-sell {
  background-color: #dc3545; /* Sell button */
}

.filter-buy:hover {
  background-color: #218838;
}

.filter-sell:hover {
  background-color: #c82333;
} 